table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .form1 {
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 20%;
    background-color: aqua;
    padding: 25px;
    border-radius: 20px;
  }

  h2{
    margin-left: 10%;
  }
  .delete{
    float:right;
    margin-right: 20%;
}